/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.simpleaccordion-accordion {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 18px;
	text-align: left;
	border: none;
	outline: none;
	margin: 0;
}
	
	/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .simpleaccordion-accordion:hover {
	cursor: pointer;
}
	
	/* Style the accordion panel. Note: hidden by default */
.simpleaccordion-panel {
	display: block;
	overflow: hidden;
}

.simpleaccordion-expand {
	margin-left: auto;
}

